<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title</title>
  <script src="../../js/vue.js"></script>
</head>

<body>

  <!-- v-model与radio合用 -->

  <div id="app">
    <label for="male">
      <input type="radio" id="male" name="sex" value="男" v-model="sex">男
    </label>
    <label for="female">
      <input type="radio" id="female" name="sex" value="女" v-model="sex">女
    </label>

    <h1>{{sex}}</h1>
  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        sex : ''
      }
    })
  </script>

</body>

</html>